<%= form_for(@question,
  :url => url,
  :method => method,
  :html => {
    :class => 'row col-sm-10 col-md-8',
    :role => 'form'
  }) do |f| %>

  <fieldset>
    <legend>
      <%= method == 'post' ? 'New Question' : 'Edit Question' %>
    </legend>

    <p class='form-group'>
      <%= f.text_area :description,
        :rows => 4,
        :autofocus => true,
        :required => true,
        :placeholder => 'Your question...',
        :class => 'form-control' %>
    </p>

    <p class='form-group'>
      <%= f.text_field :tag_list, :placeholder => 'Tags' %>
    </p>

    <p class='form-group'>
      <%= button_tag :type => 'submit',
        :class => 'btn btn-success btn-sm' do %>
        <span class="glyphicon glyphicon-ok"></span>
        <span>Save</span>
      <% end %>

      <%= link_to back, :class => 'btn btn-warning btn-sm' do %>
        <span class="glyphicon glyphicon-remove"></span>
        <span>Cancel</span>
      <% end %>
    </p>
  </fieldset>
<% end %>
