<ul class="row list-unstyled">
  <% @questions.each do |q| %>
    <li class="col-sm-6 col-lg-4">
      <section class="panel panel-default">
        <hr />
        <blockquote class="panlel-body question-text">
          <em class="lead">
            <%= link_to q.description, question_path(q) %>
        </em>
        </blockquote>
        <footer class="clearfix panel-footer text-center">
          <%= gravatar_image_tag q.user.email,
            :class => 'img-circle pull-left',
            :rel => 'tooltip',
            'data-toggle' => 'tooltip',
            'data-placement' => 'bottom',
            :title => '',
            'data-original-title' => q.user.username,
            :gravatar => { :secure => true, :size => 30 }
          %>

          <% like_config = like_or_dislike(q) %>
          <%= link_to(like_config[:path], :method => like_config[:method],
           :class => "pull-right like #{like_config[:class]}") do %>
            <span
              class="glyphicon glyphicon-heart"
              rel="tooltip"
              data-toggle="tooltip"
              data-placement="bottom"
              title=""
              data-original-title="<%= q.likes.count %>"
            ></span>
          <% end %>

          <ul class="list-inline tags">
            <% q.tag_list.each do |tag| %>
              <li>
                <%= link_to "##{tag}", questions_path(:tag_filter => tag), :class => "label label-primary" %>
              </li>
            <% end %>
          </ul>
        </footer>
      </article>
    </li>
  <% end %>
</ul>
<footer class="container text-center col-xs-12">
  <%= will_paginate @questions %>
</footer>
