<!DOCTYPE html>
<html>
<head>
  <title>Ask</title>
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/lumen/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button"
          class="navbar-toggle collapsed" 
          data-toggle="collapse" 
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">
          <strong>Ask</strong>
        </span>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
          <li class="<%= 'active' if request.env['PATH_INFO'] == questions_path %>">
            <a href="<%= root_path %>">
              <span class="glyphicon glyphicon-home"></span>
              &nbsp;
              <span>Home</span>
            </a>
          </li>
          <li class="<%= 'active' if request.env['PATH_INFO'] == my_questions_path %>">
            <a href="<%= my_questions_path %>">
              <span class="glyphicon glyphicon-user"></span>
              &nbsp;
              <span>My Questions</span>
            </a>
          </li>
          <li class="<%= 'active' if request.env['PATH_INFO'] == favorite_questions_path %>">
            <a href="<%= favorite_questions_path %>">
              <span class="glyphicon glyphicon-heart"></span>
              &nbsp;
              <span>Favorite</span>
            </a>
          </li>
        </ul>

        <form class="navbar-form navbar-left" role="search">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Tags"><span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <%= gravatar_image_tag current_user.email,
                :alt => current_user.username,
                :title => current_user.username,
                :class => 'img-circle',
                :gravatar => { :secure => true, :size => 17 }
              %>
              &nbsp;
              <span class="current-user"><%= current_user.username %></span>
              <span class="caret"></span>
              </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to signout_path do %>
                  <span class="glyphicon glyphicon-log-out"></span> <span>Sign Out</span>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div><!-- container-fluid -->
  </nav>

  <main class="container-fluid">

    <% if flash[:success] %>
      <section class="row container col-xs-12">
        <div id="flash" class="alert alert-success alert-dismissible col-md-4 col-md-offset-4" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <span class="glyphicon glyphicon-info-sign"></span>
          &nbsp;
          <span><%= flash[:success] %></span>
        </div>
      </section>
    <% end %>

    <% if flash[:notice] %>
      <section class="row container col-xs-12">
        <div id="flash" class="alert alert-warning alert-dismissible col-md-4 col-md-offset-4" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <span class="glyphicon glyphicon-info-sign"></span>
          &nbsp;
          <span><%= flash[:notice] %></span>
        </div>
      </section>
    <% end %>

    <div class="row container col-xs-12">
      <%= yield %>
    </div>
  </main>

  <footer>
  </footer>
</body>
</html>
